<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppSign" value="DvUZIrmKXs"/>
    <!--服务端侦听Port-->
    <add key="Port" value="23456"/>
    <!--最大连接数-->
    <add key="MaxConnectCount" value="3000"/>

    <!--链接超时时间，单位秒-->
    <add key="Timeout" value="10"/>

    <!--登陆认证字符串-->
    <add key="TerminalAppAuthString" value="test"/>
    
    <add key="Debuger" value="True"/>

    <!--最大线程数-->
    <add key="MaxThreadCount" value="10"/>
    

    <!--日志文件目录-->
    <add key="DirPlayLog" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="PXinDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 121.199.10.118)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = CU)));Persist Security Info=True;User ID=sltapp_test;Password=obU0qXr;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.122.18.3" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
