<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <applicationSettings />
  <connectionStrings>
    <clear />
    <add name="PxinContext" connectionString="DATA SOURCE=CU;PASSWORD=obU0qXr;PERSIST SECURITY INFO=True;POOLING=False;USER ID=sltapp_test;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <clear />
    <!-- 是否起用调试-->
    <add key="Debuger" value="True" />
    <!--EF 默认表的Owner，如果没有此配置则默认是连接字符串中的用户 -->
    <remove key="EF:DefaultOwner" />
    <!--<add key="EF:DefaultOwner" value="PCN" />-->
    <add key="EF:DefaultOwner" value="SLTAPP_TEST" />
    <!--<add key="EF:DefaultOwner" value="SLTAPP_DEV" />-->
    <!--连接字符串名称-->
    <add key="ConnectionName" value="PxinContext" />
    <!--SSO配置(新v2) begin-->
    <remove key="SSO:LoginURL" />
    <remove key="SSO:LogOutUrl" />
    <remove key="SSO:ValidateURL" />
    <remove key="SSO:IsLoginUrl" />
    <add key="SSO:LoginUrl" value="http://sso.ckv-test.sulink.cn/login.aspx" />
    <add key="SSO:LogOutUrl" value="http://sso.ckv-test.sulink.cn/logout.aspx" />
    <add key="SSO:ValidateUrl" value="http://sso.ckv-test.sulink.cn/validate.aspx" />
    <add key="SSO:IsLoginUrl" value="http://sso.ckv-test.sulink.cn/IsLogin.aspx" />
    <!--SSO配置(新v2) end-->
    <!--权限验证地址-->
    <remove key="Winner:RightsWcfServiceUrl" />
    <add key="Winner:RightsWcfServiceUrl" value="http://wcf.ckv-test.sulink.cn/RightWcf/Service1.svc" />
    <!--权限验证字符串-->
    <remove key="Winner:RightsWcfServiceAuthStr" />
    <add key="Winner:RightsWcfServiceAuthStr" value="RightsWcf20111111" />
    <!--是否缓存用户信息 默认：true-->
    <remove key="Winner:IsCacheUser" />
    <add key="Winner:IsCacheUser" value="false" />
    <!-- appId-->
    <add key="AppType" value="2" />
    <!--页大小-->
    <add key="PageSize" value="10" />
    <add key="BalanceWcf_AppId" value="18" />
    <add key="BalanceWcf_UserName" value="eTradeExpert" />
    <add key="BalanceWcf_UserPwd" value="eTradeExpert@dfdfdgasd5454" />
    <remove key="BalanceWcf_endpointAddress" />
    <!--<add key="BalanceWcf_endpointAddress" value="http://www.ckv-test.sulink.cn:81/BalanceService.svc"/>-->
    <add key="BalanceWcf_endpointAddress" value="http://balancedev.ckv-test.sulink.cn:81/BalanceService.svc" />
    <remove key="BalanceWcf_endpointIdentity" />
    <add key="BalanceWcf_endpointIdentity" value="AY1304252132124" />
    <remove key="BalanceWcf_Debuger" />
    <add key="BalanceWcf_Debuger" value="true" />
    <!--融云Key,Secret-->
    <!--<add key="AppKey" value="z3v5yqkbvs6m0" />
    <add key="AppSecret" value="piSytVEzneB" />-->
    <add key="AppKey" value="4z3hlwrv3n08t" />
    <add key="AppSecret" value="siOmeyxNYBLwYH" />
    <!--App调用key-->
    <add key="ApiKey" value="0D8E57288C2342C18C13B0353C224C4F,test" />
    <!--创建收费群的最小等级-->
    <add key="CreateGroupMinGrade" value="2" />
    <!--创建广播群的最小等级-->
    <add key="CreateGroup3MinGrade" value="2" />
    <!--创建默认群扣费金额,单位元-->
    <add key="CreateGroupAmount" value="1000" />
    <!--创建默认群转账原因-->
    <add key="CreateGroupReason" value="33064" />
    <!--群组人数上限-->
    <add key="GroupCapacity" value="500" />
    <!--创建群组最大数量-->
    <add key="GroupMaxQuantity" value="10" />
    <!--创建讨论组最大数量-->
    <add key="DiscussionMaxQuantity" value="10" />
    <!--创建聊天室扣费金额,单位元-->
    <add key="CreateChatRoomAmount" value="100" />
    <!--创建聊天室转账原因-->
    <add key="CreateChatRoomReason" value="33076" />
    <!--系统账号-->
    <add key="SysUserId" value="3481392" />
    <!--个推-->
    <add key="GtHost" value="http://sdk.open.api.igexin.com/apiex.htm" />
    <add key="GtAppId" value="ZVeqADx073AdEGkpjrYR69" />
    <add key="GtAppKey" value="QvkZr8mzFJ6pCFUdLqBsA4" />
    <add key="GtMasterSecret" value="lANWE3tChWAV4yS0YgxFt2" />
    <!--腾讯云-->
    <add key="Tx_sdkappid" value="1400016632" />
    <add key="Tx_identifier" value="admin" />
    <add key="Tx_pri_key_path" value="D:\WSX\WSX\Source\PXin\PXin\TxDemo\Lib\private_key.pem" />
    <!--直播主播结算比例-->
    <add key="LiveMasterSettleRate" value="0.6" />
    <!--直播间发送弹幕对应礼物ID-->
    <add key="LiveSendBarrageGiftId" value="4" />
    <!--直播间系统提示文字-->
    <add key="LiveRoomTip" value="文明直播" />
    <!--非正常退出直播定时解冻结算时间间隔-->
    <add key="LiveTimePervious" value="90" />
    <!--是否关闭签名验证-->
    <add key="SignValidationDisabled" value="true" />
    <!--是否关闭Swagger功能-->
    <add key="SwaggerDisabled" value="false" />
    <!--API接口签名验证字符串-->
    <add key="Api_SignString" value="DvUZIrmKXs" />
    <!--页面调起App传送参数加密字符串-->
    <add key="AppSecurityString" value="F59E5087-DC84-451A-9B74-C854EE0A952B" />
    <!--短信配置-->
    <add key="SmsCode" value="SSO" />
    <add key="SmsPwd" value="e49756b4-29d5-4127-ad0b-cc11f43dc121" />
    <add key="SmsServiceUrl" value="http://ue-sms.51yougu.cn/smsservice.asmx" />
    <!--是否使用短信（测试用）-->
    <add key="IsUseSms" value="false" />
    <!--API接口服务器地址 http://api2.ckv-test.sulink.cn -->
    <add key="Wsx.ServiceAPIHost" value="http://api2.be.sulink.cn" />
    <!--<add key="Wsx.ServiceAPIHost" value="http://localhost:51509/"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--PCN验证参数-->
    <add key="PcnAuthString" value="DvUZIrmKXs" />
    <!--调用API验证参数-->
    <add key="ApiAuthString" value="IG6jlvYKGE" />
    <!--CAS签名验证参数-->
    <add key="CasAuthString" value="3DE3AC20-4B02-46B8-9C37-2A502062E7FC" />
    <!--邀请通讯录好友注册相信短信模板-->
    <add key="InviteSmsContent" value="我正在用相信，一款能够边聊天边赚钱的即时通讯工具，快来下载吧！ http://app.union-exchange.com/uedefault.aspx" />
    <!--Pxin接口服务器地址-->
    <add key="RongUrl" value="http://pxin.ckv-test.sulink.cn" />
    <!--Pingpp公钥,yg:app_8CarzHbXr1yLH4iX-->
    <add key="ApiKey" value="sk_live_bPGOO0DGuXPGaTivTSmjLqnT" />
    <add key="AppId" value="app_1SO484OSKivPeD0q" />
    <!--微信回调地址-->
    <add key="WxNotice_url" value="http://mall2.ckv-test.sulink.cn/WXNotice/Success" />
    <!--新版pcn获取用户地址-->
    <add key="PCNUserInfoUrl" value="http://client-upay.ckv-test.sulink.cn/api/User/GetUserInfo" />
    <!--旧版pcn获取用户地址-->
    <!--<add key="PCNUserInfoUrl" value="http://user-upay.ckv-test.sulink.cn/Crowdfunding/AuthApi.aspx?apiType=GetPcnRegInfoByNodeCode" />-->
    <!--优谷获取用户地址-->
    <!--
    <add key="YGUserInfoUrl" value="http://mall2.ckv-test.sulink.cn"/>-->
    <!--优谷域名-->
    <add key="YGDomain" value="http://mall2.yg.sulink.cn" />
    <!--PM域名-->
    <add key="PMDomain" value="http://pm2.be.sulink.cn" />
    <!--用户头像的新地址-->
    <add key="Userphoto" value="http://images2-believe.ckv-test.sulink.cn" />
    <!--调用UE接口地址-->
    <add key="UePayUrl" value="http://ue.ckv-test.sulink.cn/api/" />
    <!--充值商页面跳转地址-->
    <add key="FbapUrl" value="http://client.be.sulink.cn/App/Believe/index.html?router=fbap" />
    <!--是否开放注册 1-开放，其它不开放-->
    <add key="IsOpenRegister" value="1" />
    <!--AppDownloadUrl——App下载属性取Tapp_config-->
    <add key="AppDownloadProperty_IOS" value="IosUrl" />
    <add key="AppDownloadProperty_Android" value="AndroidUrl" />
    <!--充值商开通代理人所需金额-->
    <add key="OpenDlrAmount" value="0" />
    <!--充值商进货活动时间(单位：月)-->
    <add key="FbapStockinActivity" value="9" />
    <!--是否开启定时推送-->
    <add key="IsOpenTimedPush" value="true" />
    <!--定时推送功能，推送时间间隔，单位：分钟-->
    <add key="TimedPushTimeInterval" value="1" />
    <!--内测截至时间-->
    <add key="BetaEndTime" value="2019-12-1" />

    <!--图片的前缀URL-->
    <add key="ImageBaseUrl" value="http://images2.be.sulink.cn" />
    <!--百度驾驶证行驶证接口参数-->
    <add key="BaiduAPIKey1" value="wOfocQGDmC6q1NSXNqefKwaG" />
    <add key="BaiduSecretKey1" value="XSFRxur3b6zxfTIpM0KY2pwlZLXvGIDm" />
    <!--注册送V点数-->
    <add key="RegisterGiveVDian" value="50" />
    <!--获取pcn域名-->
    <add key="PCNDomainUrl" value="http://client2.pcn.sulink.cn" />

    <!--阿里云快递查询key-->
    <add key="KuaiDiAPPKey" value="23433015" />
    <add key="KuaiDiAPPSecret" value="ab6e196b5dfa0afee6d26c6d2530d4e4" />
    <add key="KuaiDiAPPCode" value="eaad795f918b4962988438af430fecc3" />
    
    <!--VP接口地址-->
    <!--<add key="PxinInternalServiceUrl" value="http://localhost:1324/"/>-->
    <add key="PxinInternalServiceUrl" value="http://api2.be.sulink.cn" />
    <!--充值码生成上限时间配置-->
    <add key="CZMCreateTime" value="2019-10-30" />
    <!--是否启动定时服务 0-不启动-->
    <add key="TimeServiceStart" value="0" />

    <!--邮件发送服务器地址密码-->
    <!--<add key="SendEmailNodeCode" value="weifanqrt@163.com"/>
    <add key="SendEmailPwd" value="qwertyuiop133"/>
    <add key="SendEmailType" value="163"/>-->

    <add key="SendEmailNodeCode" value="2479108147@qq.com" />
    <add key="SendEmailPwd" value="lxxjmbecqbxsdjbj" />
    <add key="SendEmailType" value="qq" />


    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <httpRuntime targetFramework="4.5" executionTimeout="10" maxRequestLength="1048576000" />
    <compilation debug="true" targetFramework="4.7.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <!--<add name="Access-Control-Allow-Headers" value="x-requested-with,Content-Type"/>
        <add name="Access-Control-Allow-Origin" value="http://localhost:8081" />
        <add name="Access-Control-Allow-Credentials" value="true" />-->
      </customHeaders>
    </httpProtocol>
    <!--<staticContent>
      <mimeMap fileExtension=".mp4" mimeType="application//octet-stream" />
    </staticContent>-->
    <!--<validation validateIntegratedModeConfiguration="false" />-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" culture="neutral" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.18.3" newVersion="4.122.18.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Doc" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.8.12.4040" newVersion="7.8.12.4040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!--<dependentAssembly>
      <assemblyIdentity name="log4net" culture="neutral" publicKeyToken="669e0ddf0bb1aa2a" Retargetable="Yes" />
      <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
    </dependentAssembly>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      -->
    <!--<dependentAssembly>
        <assemblyIdentity name="log4net" culture="neutral" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.13.0" />
      </dependentAssembly>-->
    <!--
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.18.3" newVersion="4.122.18.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
    <!--<interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="D:\PxinDBLog.txt" />
          <parameter value="true" type="System.Boolean" />
        </parameters>
      </interceptor>
    </interceptors>-->
  </entityFramework>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="activitionServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.ckv-test.sulink.cn/webservice/activitionService.asmx" binding="basicHttpBinding" bindingConfiguration="activitionServiceSoap" contract="ActivitionService.activitionServiceSoap" name="activitionServiceSoap" />
    </client>
  </system.serviceModel>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="CU" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=47.97.231.117)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl))) " />
        <!--<dataSource alias="PCN" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=115.29.166.216)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PRODUCT))) " />-->
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
